# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea

notes/

node_modules/
package-lock.json

# Exclude the temp_repositories directory
temp_repositories/